[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
slack_sdk = "*"
zappa = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
pylint = "*"
pydocstyle = "*"

[requires]
python_version = "3.9"
