[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
pytz = "*"
slackclient = "*"
bokeh = "*"
selenium = "*"
pandas = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
