{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
              "ce:GetCostAndUsage"
            ],
            "Resource": [
              "arn:aws:ce:us-east-1:${ACCOUNTID}:/GetCostAndUsage"
            ]
        }
    ]
}